<ion-header>
  <ion-toolbar color="custom" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button (click)="ir()"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list  *ngFor="let notificacion of notificaciones">
    <ion-item [button]="true">
      <ion-icon name="notifications-outline" class="icon" slot="start" size="large"></ion-icon>
      <ion-label> {{notificacion.asunto}} - {{notificacion.descripcion}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>