<ion-content class="login-content">
  <div class="login-container">
    <form #usuarioForm="ngForm" (ngSubmit)="ingresar(usuarioForm)" class="login-form">
      <h2 class="ion-text-center">Iniciar Sesión</h2>
      <ion-item lines="none" class="input-item">
        <ion-input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ngModel
          [(ngModel)]="mail" placeholder="Email" required class="custom-input"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input type="password" name="password" placeholder="Contraseña" ngModel required
          class="custom-input"></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="usuarioForm.invalid" color="tertiary" expand="block"
        class="login-button">Ingresar</ion-button>
      <ion-button (click)="recuperarContrasena()" fill="clear" color="tertiary" expand="block"
        class="forgot-password-button">Olvidé mi contraseña</ion-button>
    </form>
  </div>
</ion-content>