.icon{
    color: #480971;
}
.ion-fab{
    border: 100px solid black;
}
.custom-toolbar {
    background-color: #480971;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
  }