<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home-damnificada"></ion-back-button>
    </ion-buttons>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true" *ngFor="let contacto of contactos" (click)="presentAlertConfirm(contacto)">
    <ion-item [button]="true" >
      <ion-icon name="person" color="primary" slot="start" size="large"></ion-icon>
      <ion-label>{{contacto.apellido}}, {{contacto.nombre}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="agregarContacto()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>