<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pruebas de vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true" *ngFor="let pruebaDeVida of pruebasDeVida" (click)=responderPruebaDeVida(pruebaDeVida)>
    <ion-item [button]="true">
      <ion-icon name="camera" color="primary" slot="start" size="large"></ion-icon>
      <ion-label>{{pruebaDeVida.descripcion}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="!hayPruebasDeVida">
    <h3>No hay solicitudes de prueba de vida.</h3>
  </ion-text>


</ion-content>