.icon {
    color: #480971;
  }
  
  .custom-toolbar {
    background-color: #480971;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .filtros{
    margin-right: 15px;
  }

  .estado-pendiente {
    color: #ffc409;
  }
  
  .estado-rechazada {
    color: red;
  }
  
  .estado-exitosa {
    color: green;
  }
  