.icon {
  color: #480971;
}

.custom-toolbar {
  background-color: #480971;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
}

.filtros {
  margin-right: 15px;
}

.estado-pendiente {
  color: #ffc409;
}

.estado-rechazada {
  color: red;
}

.estado-exitosa {
  color: green;
}

.estado-procesando {
  color: #7e7e7e;
}


.grupo-desplegables {
  padding: 15px;
}

.grupo-desplegables ion-accordion {
  border-radius: 5px;
  margin-bottom: 10px;
}

.grupo-desplegables ion-accordion ion-item[slot="header"] {
  background-color: #fff;
}

.grupo-desplegables ion-accordion ion-item[slot="header"]:focus {
  box-shadow: none;
}

.grupo-desplegables .ion-padding {
  padding: 5px;
  background-color: #fff;
  border-top: 1px solid #480971;
}

.mensaje-vacio {
  font-size: 16px;
  color: #555;
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  padding: 10px;
}