<ion-header>
  <ion-toolbar color="custom" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pruebas de vida</ion-title>
    <ion-buttons slot="end" class="filtros" *ngIf="filtroTipo == 'Simples'">
      <ion-select placeholder="{{filtroEstado}}" interface="action-sheet" (ionChange)="filtrarPruebasDeVida($event)">
        <ion-select-option value="Todos">Todos</ion-select-option>
        <ion-select-option value="Pendiente">Pendientes</ion-select-option>
        <ion-select-option value="Rechazada">Rechazadas</ion-select-option>
        <ion-select-option value="Aceptada">Aceptadas</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true" *ngIf="filtroTipo == 'Simples'">
    <ion-item *ngFor="let pruebaDeVida of pruebasFiltradas" (click)="responderPruebaDeVida(pruebaDeVida)" [button]="true">
      <ion-icon name="camera" class="icon" slot="start" size="large"></ion-icon>
      <ion-label>{{pruebaDeVida.descripcion}}</ion-label>
      <ion-icon [name]="getEstadoIcon(pruebaDeVida.estado)" [class]="getEstadoClass(pruebaDeVida.estado)" slot="end" size="large"></ion-icon>
    </ion-item>
    <ion-text *ngIf="!hayPruebasDeVida && filtroTipo == 'Simples'" class="mensaje-vacio">
      No hay solicitudes de prueba de vida disponibles.
    </ion-text>
  </ion-list>

  <ion-accordion-group class="grupo-desplegables" *ngIf="filtroTipo == 'Multiples'">
    <ion-accordion *ngFor="let pruebaDeVidaMultiple of pruebasDeVidaMultiple" [value]="pruebaDeVidaMultiple.idPruebaDeVidaMultiple">
      <ion-item slot="header" color="light" (click)="obtenerGrupo(pruebaDeVidaMultiple.idPruebaDeVidaMultiple)">
        <ion-icon [name]="getEstadoIcon(pruebaDeVidaMultiple.estado)" [class]="getEstadoClass(pruebaDeVidaMultiple.estado)" slot="start" size="large"></ion-icon>
        <ion-label>{{pruebaDeVidaMultiple.descripcion}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
          <ion-item *ngFor="let pruebaGrupo of pruebasGrupo" (click)="responderPruebaDeVida(pruebaGrupo)" [button]="true">
            <ion-icon name="camera" class="icon" slot="start" size="large"></ion-icon>
            <ion-label>{{pruebaGrupo.descripcion}}</ion-label>
            <ion-icon [name]="getEstadoIcon(pruebaGrupo.estado)" [class]="getEstadoClass(pruebaGrupo.estado)" slot="end" size="large"></ion-icon>
          </ion-item>
      </div>
    </ion-accordion>
    <ion-text *ngIf="!hayPruebasDeVidaMultiples && filtroTipo == 'Multiples'" class="mensaje-vacio">
      No hay solicitudes de prueba de vida disponibles.
    </ion-text>
  </ion-accordion-group>
  
</ion-content>

<ion-segment color="tertiary" [(ngModel)]="filtroTipo" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="Simples" checked>
    Simples
  </ion-segment-button>
  <ion-segment-button value="Multiples">
    Multiples
  </ion-segment-button>
</ion-segment>
