<app-menu></app-menu>

<ion-header>
  <ion-toolbar color="custom" class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cuidar Tech</ion-title>
    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-badge color="danger" class="count-icon" *ngIf="notificationCount > 0">{{ notificationCount }}</ion-badge>
      <ion-button (click)="openNotifications()">
        <ion-icon slot="icon-only" name="notifications" class="notification-icon"></ion-icon>
      </ion-button >
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-button expand="full" color="#480971" shape="round" class="ion-margin-bottom custom-button" (click)="localizarVictimario()">
    <ion-icon slot="start" name="locate" class="custom-icon"></ion-icon>Localizar victimario
  </ion-button>

  <ion-button expand="full" color="#480971" shape="round" class="ion-margin-bottom custom-button" routerLink="/gestionar-contactos">
    <ion-icon slot="start" name="person" class="custom-icon"></ion-icon>Gestionar contactos
  </ion-button>

  <ion-button expand="full" shape="round" color="#480971" class="ion-margin-bottom custom-button" routerLink='/pruebas-de-vida'>
    <ion-icon slot="start" name="camera" class="custom-icon"></ion-icon>Pruebas de vida 
  </ion-button>

  <ion-button expand="full" color="#480971" shape="round" class="ion-margin-bottom custom-button" routerLink='/localizacion-comisarias'>
    <ion-icon slot="start" name="shield" class="custom-icon"></ion-icon>Ver comisarías
  </ion-button>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="presentAlertConfirm()">
      <ion-icon name="alert"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
