.custom-toolbar {
  background-color: #480971;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
}

.custom-button {
  background-color: #480971;
  border-radius: 30px;
  height: 50px;
}

.count-icon {
  position: fixed;
  z-index: 1000;
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 50%;
  font-size: 10px;
  height: 17px;
  width: auto;
  text-align: center;
}